<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cse323.nsu.patienttracking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatientTracking"
        tools:replace="android:theme">
        <activity android:name=".patient.PatientProfileSettingsActivity" android:theme="@style/Theme.Patient"/>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.AuthenticationActivity" />
        <activity
            android:name=".patient.PatientHomeActivity"
            android:theme="@style/Theme.Patient" />
        <activity android:name=".doctor.DoctorHomeActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".patient.PatientProfileActivity"
            android:theme="@style/Theme.Patient" />
        <activity
            android:name=".patient.AvailableDoctorsActivity"
            android:theme="@style/Theme.Patient" />
        <activity
            android:name=".patient.MyPrescriptionsActivity"
            android:theme="@style/Theme.Patient" />
        <activity
            android:name=".patient.MakeAppointmentActivity"
            android:theme="@style/Theme.Patient" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>